* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eef4f8;
    color: #1f2f46;
}

.dashboard-container {
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
}

/* SECCIONES */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px;
}
nav h2 {
    color: #16324f;
    font-size: 2rem;
    text-align: center;
    margin: 20px 20px 20px 20px;
}

.crear-publicacion,
.observaciones {
    background-color: #ffffff;
    border: 1px solid #c9d8e6;
    border-radius: 18px;
    padding: 30px;
    margin-bottom: 30px;
}

.crear-publicacion h2,
.observaciones h2 {
    color: #16324f;
    font-size: 2rem;
    text-align: center;
    margin: 20px 20px;
}

/* FORMULARIO */
.form-publicacion {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    align-items: start;
}

.columna-izquierda,
.columna-derecha {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.campo {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.campo label {
    font-weight: bold;
    color: #23466d;
}

.campo input,
.campo textarea {
    width: 100%;
    padding: 13px 15px;
    border: 1px solid #9fb5ca;
    border-radius: 10px;
    background-color: #f8fbfd;
    color: #1f2f46;
    font-size: 1rem;
}

.campo input:focus,
.campo textarea:focus {
    outline: none;
    border-color: #315d8a;
}

.campo textarea {
    min-height: 180px;
    resize: vertical;
}

.acciones-formulario {
    grid-column: 1 / 3;
    display: flex;
    justify-content: flex-end;
}

.btn-compartir {
    background-color: #16324f;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 12px 24px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.btn-compartir:hover {
    background-color: #234f78;
}

/* ERRORES */
.mensajes-error {
    margin-bottom: 18px;
}

.error {
    color: #b23a48;
    font-weight: bold;
    margin-bottom: 6px;
}

/* PUBLICACIONES */
.publicacion {
    border: 1px solid #c9d8e6;
    background-color: #f8fbfd;
    border-radius: 14px;
    padding: 22px;
    margin-top: 18px;
}

.publicacion h3 {
    color: #16324f;
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.meta-publicacion {
    display: flex;
    gap: 14px;
    margin-bottom: 12px;
    color: #48647f;
}

.meta-publicacion strong {
    color: #23466d;
}

.descripcion-publicacion {
    color: #2e4055;
    line-height: 1.5;
    margin-bottom: 16px;
}

.acciones-publicacion {
    display: flex;
    gap: 10px;
    text-decoration: none;
}
/* BOTONES */
.btn {
    display: inline-block;
    background-color: #16324f;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 18px;
    font-size: 0.95rem;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.btn:hover {
    background-color: #244f77;
}